<!-- Load dependencies -->
<% include parts/dependencies.ejs %>
<!-- Load navbar -->
<script src="/js/pages/note.js"></script>
<script>
window.onload = function() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();

  if (dd < 10) {
    dd = '0' + dd
  }

  if (mm < 10) {
    mm = '0' + mm
  }

  today = mm +
    '/' + dd +
    '/' + yyyy;
  document.getElementById('date').innerHTML = today;
// $("date").update(today);
}
</script>

<div id="wrapper">

<!-- Navigation -->
  <% include parts/classNav.ejs %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="hidden" id="classId"><%= classroom.cid %></div>
<!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header" style="color: <%= classroom.color %>">Notes
            <span class="date" id="date" style="margin-left: 0px;"></span>
            <a class="hidden-xs btn btn-success pull-right" data-target="#addNote" data-toggle="modal" href="#">Add Note</a>
          </h1>
        </div>
      </div>
      <div class="row visible-xs">
        <div class="col-lg-12">
          <a class="visible-xs btn btn-block btn-success btn-md" data-target="#addNote" data-toggle="modal" href="#" style="margin-top: 10px;">Add Note</a>
        </div>
      </div>
      <div class="row">
        <% if (notes !== undefined && notes !== null && notes.length > 0) { %>
        <div class="col-lg-12">
          <% for (var i = 0; i < notes.length; i++) { %>
            <div class="note">
              <div class="title">
                <a href="/class/<%= classroom.urlName %>/notes/<%= notes[i].nid %>"> <%= notes[i].name %></a>
              </div>
              <div class="description">
                <!--
                <%= notes[i].updatedAt %>
                <br />
                <%= notes[i].createdAt %>
                <br />
              -->
                <% if (notes[i].description == "") { %>
                  No description
                <% } else {%>
                  <%= notes[i].description %>
                <% } %>
              </div>

            </div>

          <% } %>
        </div>
        <% } else {%>
          <div class="col-lg-12">
            <center><h1 style="margin-top: 50px; font-weight: 300;">No Notes</h1></center>
          </div>
        <% } %>
      </div>
<!-- /.row -->

    </div>
<!-- /.container-fluid -->

  </div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Modal -->
<div aria-labelledby="addNoteLabel" class="modal fade" id="addNote" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addNoteLabel">Add Note</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="hidden" id="cid"><%= classroom.cid %></div>
          <div class="form-group">
            <label for="newNoteName">New Note Name</label>
            <input class="form-control" id="newNoteName" style="border-color: <%= classroom.color %>" type="text">
          </div>
          <div class="form-group">
            <label for="newNoteDescription">Description</label>
            <textarea class="form-control" id="newNoteDescription" rows="3" style="border-color: <%= classroom.color %>"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        <a class="btn btn-primary" href="#" id="addNoteButton">Add Note</a>
      </div>
    </div>
  </div>
</div>
