<!-- Load dependencies -->
<% include parts/dependencies.ejs %>
<!-- Load navbar -->
<script src="/js/pages/projectTaskDetails.js"></script>


<div id="wrapper">

<!-- Navigation -->
<% include parts/classNav.ejs %>
  <div id="page-wrapper">
    <div class="container-fluid">

<!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header" style="color: <%= classroom.color %>">
            <a style="color: #000000" href="/class/<%= classroom.urlName %>/projects/<%= project.pid %>"><%= project.name %></a> / <%= task.name %>
            <div id="classId" class="hidden"><%= classroom.cid %></div>
            <div id="projectId" class="hidden"><%= project.pid %></div>
            <div id="taskId" class="hidden"><%= task.tid %></div>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="col-heading-no-border">Task Actions</h3>
          <center>
            <div class="hidden" id="returnURL">/class/<%= classroom.urlName %>/tasks/<%= project.pid %></div>
            <a  style="margin-top: 30px;" href="#" id="taskCompleteButton" class="btn btn-success btn-block btn-lg btn-square">Task Complete</a>
            <br />
            <a href="#" id="deleteTaskButton" class="btn btn-danger btn-block btn-lg btn-square">Delete Task</a>
          </center>
        </div>
        <div class="col-lg-6">
          <h3 class="col-heading-no-border">Edit Actions</h3>
          <form>
            <div class="form-group">
              <label for="className">Name</label>
              <input class="form-control" id="taskName" placeholder="<%= task.name %>" style="border-color: <%= classroom.color %>" type="text">
            </div>
            <div class="form-group">
              <label for="note">Note</label>
              <textarea id="newNote" class="form-control" rows="3" style="border-color: <%= classroom.color %>"><%= task.note %></textarea>
            </div>
            <div class="form-group">
              <label for="date">Due Date</label>
              <input class="form-control" id="date" placeholder="<%= task.duedate %>" style="border-color: <%= classroom.color %>" type="date">
            </div>
            <a href="#" class="btn btn-primary btn-block btn-square btn-lg">Save</a>
          </form>
        </div>
      </div>
<!-- /.row -->

    </div>
<!-- /.container-fluid -->

  </div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Modal -->
<div aria-labelledby="editClassroom" class="modal fade" id="editClassroom" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="editClassroom">Edit <%= classroom.name %></h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="className">Name</label>
            <input class="form-control" id="className" placeholder="<%= classroom.name %>" style="border-color: <%= classroom.color %>" type="text">
          </div>
          <div class="form-group">
            <label for="color">Color</label>
            <input class="form-control" id="color" placeholder="<%= classroom.color %>" style="border-color: <%= classroom.color %>" type="text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        <a class="btn btn-primary" href="#" id="editClassroomButton">Update <%= classroom.name %></a>
      </div>
    </div>
  </div>
</div>
