<!-- Load dependencies -->
<% include parts/dependencies.ejs %>
<!-- Load navbar -->
<script src="/js/pages/projectDetails.js"></script>

<script>
window.onload = function() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();

  if (dd < 10) {
    dd = '0' + dd
  }

  if (mm < 10) {
    mm = '0' + mm
  }

  today = mm +
    '/' + dd +
    '/' + yyyy;
  document.getElementById('date').innerHTML = today;
// $("date").update(today);
}
</script>

<div id="wrapper">

<!-- Navigation -->
  <% include parts/classNav.ejs %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="hidden" id="classId"><%= classroom.cid %></div>
      <div class="hidden" id="projectId"><%= project.pid %></div>
<!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header" style="color: <%= classroom.color %>"><%= project.name %>
            <small>
              <% if (project.description !== "") { %>-
                <%= project.description %>
              <% } %>
            </small>
            <a class="hidden-xs btn btn-success pull-right" data-target="#addTask" data-toggle="modal" href="#">Add Task</a>
            <a class="hidden-xs btn btn-primary pull-right" data-target="#editProject" data-toggle="modal" href="#" style="margin-right: 5px;">Edit
              <%= project.name %></a>
          </h1>
        </div>
      </div>
      <div class="row visible-xs">
        <div class="col-lg-12">
          <a class="visible-xs btn btn-block btn-success btn-md" data-target="#addTask" data-toggle="modal" href="#" style="margin-top: 10px;">Add Task</a>
        </div>
      </div>

      <% if (tasks !== undefined && tasks !== null && tasks.length > 0) { %>
        <div class="row">
          <div class="col-lg-8">
            <% for (var i = 0; i < tasks.length; i++) { %>
              <% if (tasks[i].status == false) { %>
                <div class="task">
                  <div class="title">
                    <a href="/class/<%= classroom.urlName %>/projects/<%= project.pid %>/<%= tasks[i].tid %>">
                      <%= tasks[i].name %></a>
                  </div>
                  <div class="duedate" style="color: <%= classroom.color %>">
                    <% if (tasks[i].duedate !== "" && tasks[i].duedate !== undefined && tasks[i].duedate !== null) { %>
                      Due
                      <%= tasks[i].duedate %>
                    <% } %>
                  </div>
                  <div class="description">
                    <% if (tasks[i].note == "") { %>
                      No notes
                    <% } else { %>
                    <%= tasks[i].note %>
                  <% } %>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
        <div class="col-lg-4">
          <h2 class="upcoming">Upcoming Tasks</h2>
        </div>
      </div>
    <% } else { %>
    <center>
      <h1 style="margin-top: 50px; font-weight: 300;">No Tasks</h1>
    </center>
  <% } %>
<!-- /.row -->

</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Modal -->
<div aria-labelledby="addTaskLabel" class="modal fade" id="addTask" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addTaskLabel">Add Task</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="newTaskName">New Task Name</label>
        <input class="form-control" id="newTaskName" placeholder="Add New Task" style="border-color: <%= classroom.color %>" type="text">
      </div>
      <div class="form-group">
        <label for="newNote">Notes</label>
        <textarea class="form-control" id="newNote" rows="3" style="border-color: <%= classroom.color %>"></textarea>
      </div>
      <div class="form-group">
        <label for="newTaskDate">Due Date</label>
        <input class="form-control" id="newTaskDate" style="border-color: <%= classroom.color %>" type="date">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
    <a class="btn btn-primary" href="#" id="addTaskButton">Add Task</a>
  </div>
</div>
</div>
</div>

<div aria-labelledby="editProjectLabel" class="modal fade" id="editProject" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="editProjectLabel">Edit Project</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="projectName">Project Name</label>
        <input class="form-control" id="projectName" placeholder="<%= project.name %>" style="border-color: <%= classroom.color %>" type="text">
      </div>
      <div class="form-group">
        <label for="projectDescription">Description</label>
        <textarea class="form-control" id="projectDescription" placeholder="<%= project.description %>" rows="3" style="border-color: <%= classroom.color %>"></textarea>
      </div>
      <div class="form-group">
        <label for="projectDate">Due Date</label>
        <input class="form-control" id="projectDate" style="border-color: <%= classroom.color %>" type="date">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="pull-left btn btn-danger" href="#" id="removeProject">Delete
      <%= project.name %></a>
    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
    <a class="btn btn-primary" href="#" id="updateProject">Update
      <%= project.name %></a>
  </div>
</div>
</div>
</div>
