<!-- Load dependencies -->
<link href="/styles/pikaday.css" rel="stylesheet">
<% include parts/dependencies.ejs %>
<!-- Load navbar -->
<script src="/js/pages/pikaday.js"></script>
<script src="/js/pages/task.js"></script>

<script>
window.onload = function() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth() + 1; //January is 0!
  var yyyy = today.getFullYear();

  if (dd < 10) {
    dd = '0' + dd
  }

  if (mm < 10) {
    mm = '0' + mm
  }

  var picker = new Pikaday({
    field: document.getElementById('datepicker'),
    firstDay: 1,
    minDate: new Date(2000, 0, 1),
    maxDate: new Date(2020, 12, 31),
    yearRange: [
      2000, 2020
    ]
  });

  today = mm +
    '/' + dd +
    '/' + yyyy;
  document.getElementById('date').innerHTML = today;
// $("date").update(today);
}
</script>

<div id="wrapper">

<!-- Navigation -->
  <% include parts/classNav.ejs %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="hidden" id="classId"><%= classroom.cid %></div>
<!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header" style="color: <%= classroom.color %>">Tasks
            <a class="hidden-xs btn btn-success pull-right" data-target="#addTask" data-toggle="modal" href="#">Add Task</a>
          </h1>
        </div>
      </div>
      <div class="row visible-xs">
        <div class="col-lg-12">
          <a class="visible-xs btn btn-block btn-success btn-md" data-target="#addTask" data-toggle="modal" href="#" style="margin-top: 10px;">Add Task</a>
        </div>
      </div>
      <div class="hidden" id="viewAllTasks">
        <% if (tasks !== undefined && tasks !== null && tasks.length > 0) { %>
          <div class="row">
            <div class="col-lg-12">
              <% for (var i = 0; i < tasks.length; i++) { %>
                <div class="task">
                  <div class="title">
                    <a href="/class/<%= classroom.urlName %>/tasks/<%= tasks[i].tid %>"><%= tasks[i].name %></a>
                  </div>
                  <div class="duedate" style="color: <%= classroom.color %>">
                    <% if (tasks[i].dueDate !== "") { %>
                      Due
                      <%= tasks[i].dueDate %>
                    <% } %>
                  </div>
                  <div class="description">
                    <% if (tasks[i].note == "") { %>
                      No notes
                    <% } else { %>
                    <%= tasks[i].note %>
                  <% } %>
                </div>
              </div>
            <% } %>
          </div>
          <center>
            <br />
            <a href="#" style="margin-top: 50px;" id="showIncompleteTasks" class="btn btn-success btn-lg">Show Incomplete Tasks</a>
          </center>
      </div>
      <% } %>
    </div>
    <div class="" id="incompleteTasksPane">
    <% if (incompletedTasks !== undefined && incompletedTasks !== null && incompletedTasks.length > 0) { %>
        <div class="row">
          <div class="col-lg-8">
            <% for (var i = 0; i < incompletedTasks.length; i++) { %>
              <% if (incompletedTasks[i].status == false) { %>
                <div class="task">
                  <div class="title">
                    <a href="/class/<%= classroom.urlName %>/tasks/<%= incompletedTasks[i].tid %>">
                      <%= incompletedTasks[i].name %></a>
                  </div>
                  <!-- TODO :: This is not operating correctly -->
                  <div class="duedate" style="color: <%= classroom.color %>">
                    <% if (incompletedTasks[i].dueDate !== "") { %>
                      Due
                      <%= incompletedTasks[i].dueDate %>
                    <% } %>
                  </div>
                  <div class="description">
                    <% if (incompletedTasks[i].note == "") { %>
                      No notes
                    <% } else { %>
                    <%= incompletedTasks[i].note %>
                  <% } %>
                </div>
              </div>
            <% } %>
          <% } %>
        </div>
        <div class="col-lg-4">
          <h2 class="upcoming">Upcoming Tasks</h2>
        </div>
      </div>
    <% } else { %>
    <center>
      <% if (tasks !== undefined && tasks !== null && tasks.length > 0) { %>
        <h1 style="margin-top: 50px; font-weight: 300;">No Incomplete Tasks</h1>
        <br/>
        <a class="btn btn-lg btn-primary" href="#" id="seeAllTasks" style="background-color: <%= classroom.color %>; border-color: <%= classroom.color %>">Show All Tasks</a>
      <% } else { %>
      <h1 style="margin-top: 50px; font-weight: 300;">No Tasks</h1>
    <% } %>
  </center>
  <% } %>
</div>
<!-- /.row -->

</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Modal -->
<div aria-labelledby="addTaskLabel" class="modal fade" id="addTask" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="addTaskLabel">Add Task</h4>
      </div>
      <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="newTaskName">New Task Name</label>
          <input class="form-control" id="newTaskName" placeholder="Add New Task" style="border-color: <%= classroom.color %>" type="text">
        </div>
        <div class="form-group">
          <label for="newNote">Notes</label>
          <textarea class="form-control" id="newNote" rows="3" style="border-color: <%= classroom.color %>"></textarea>
        </div>
        <div class="form-group">
          <label for="newDate">Due Date</label>
          <input class="form-control" id="newDate" style="border-color: <%= classroom.color %>" type="date">
        </div>
      </form>
      </div>
      <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
      <a class="btn btn-primary" href="#" id="addTaskButton">Add Task</a>
      </div>
      </div>
  </div>
</div>
